.u-section-1 .u-sheet-1 {
  min-height: 861px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 29px 0 0;
}

.u-section-1 .u-image-1 {
  --radius: 10px;
  width: 315px;
  height: 255px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 69px auto 0 42px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -255px 162px 0 auto;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -26px 39px 0 auto;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px 162px 0 auto;
}

.u-section-1 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -26px 39px 0 auto;
}

.u-section-1 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 21px 268px 0 auto;
}

.u-section-1 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -185px 38px 0 auto;
}

.u-section-1 .u-image-2 {
  --radius: 10px;
  width: 553px;
  height: 268px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 189px 48px 0 auto;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  margin: -10px auto 0 66px;
  padding: 4px 45px 5px 43px;
}

.u-section-1 .u-btn-2 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  margin: 20px auto 47px 66px;
  padding: 4px 46px 5px 45px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-image-1 {
    width: 267px;
    height: 227px;
    margin-top: 10px;
    margin-left: 26px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -145px;
    margin-right: 135px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 12px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 135px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-right: 12px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 34px;
    margin-right: 244px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -144px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 394px;
    height: 191px;
    margin-top: 141px;
    margin-right: 111px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -43px;
    margin-left: 26px;
    padding-left: 44px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 12px;
    margin-bottom: 60px;
    margin-left: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1031px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 63px;
    margin-left: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 44px;
    margin-right: 139px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 139px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 57px;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: -194px;
    margin-right: 12px;
  }

  .u-section-1 .u-image-2 {
    width: 291px;
    height: 139px;
    margin-top: 184px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 22px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 22px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 41px;
    margin-right: 134px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.25rem;
    margin-top: 17px;
    margin-right: 134px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -22px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 55px;
    margin-left: 80px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -191px;
  }

  .u-section-1 .u-image-2 {
    width: 311px;
    height: 142px;
    margin-top: 194px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-image-1 {
    width: 192px;
    height: 158px;
    margin-top: 27px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 48px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
    margin-top: -17px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 9px;
    margin-right: 80px;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.875rem;
    margin-top: -14px;
    margin-right: 0;
    margin-left: 265px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 43px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    font-size: 0.875rem;
    margin-top: -156px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    height: 130px;
    width: 226px;
    margin-top: 160px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 40px;
  }
}

.u-section-1 .u-btn-1,
.u-section-1 .u-btn-1:before,
.u-section-1 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-btn-1 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-1 .u-btn-1 {
  border-color: transparent !important;
}

.u-container-layout.hover > .u-section-1 .u-btn-1 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-1 .u-btn-2,
.u-section-1 .u-btn-2:before,
.u-section-1 .u-btn-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-btn-2 {
  border-color: transparent !important;
}

.u-section-1 .u-container-layout:hover .u-btn-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}

.u-section-1 .u-btn-2 {
  border-color: transparent !important;
}

.u-container-layout.hover > .u-section-1 .u-btn-2 {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  transform: scale(1) translateY(px) !important;
}